<footer>
  <div>© 2017 Bản quyền thuộc về Lương Chung.</div>
  <iframe src="https://web.facebook.com/plugins/follow?href=https%3A%2F%2Fweb.facebook.com%2FL.u.o.n.g.C.h.u.n.g.W.R.U&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
</footer>
<div align="center">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-0000000000000000"
    data-ad-slot="0000000000"
    data-ad-format="auto"></ins>
  <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
